# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.DS_Store
.Python

# Virtualenv
venv/

uploads/

migrations/
preloaded/

dive/tasks/statistics/comparison.py
