pymongo==2.7.2
Flask==0.10.1
Flask-RESTful==0.3.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
aniso8601==0.92
bson==0.3.3
itsdangerous==0.24
numpy==1.9.1
pandas==0.15.2
python-dateutil==2.4.0
pytz==2014.10
six==1.9.0
wsgiref==0.1.2
xlrd==0.9.3