Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
aniso8601==0.83
itsdangerous==0.24
numpy==1.9.0
pandas==0.14.1
pymongo==2.7.2
python-dateutil==2.2
pytz==2014.7
six==1.8.0
wsgiref==0.1.2
