CairoSVG==1.0.9
Flask==0.10.1
Flask-RESTful==0.3.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
aniso8601==0.92
backports.ssl-match-hostname==3.4.0.2
cairocffi==0.6
certifi==14.05.14
cffi==0.8.6
itsdangerous==0.24
numpy==1.9.1
pandas==0.15.2
passlib==1.6.2
pycparser==2.10
pymongo==2.7.2
python-dateutil==2.4.0
pytz==2014.10
six==1.9.0
tornado==4.0.2
wsgiref==0.1.2
xlrd==0.9.3
