CairoSVG==1.0.9
DataShape==0.4.3
Flask==0.10.1
Flask-RESTful==0.3.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.9
Werkzeug==0.9.6
aniso8601==0.92
backports.ssl-match-hostname==3.4.0.2
blaze==0.7.2
cairocffi==0.6
certifi==14.05.14
cffi==0.8.6
decorator==3.4.0
demjson==2.2.2
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.3.0
into==0.2.2
itsdangerous==0.24
logging==0.4.9.6
multipledispatch==0.4.7
networkx==1.9.1
numexpr==2.4.3
numpy==1.9.2
pandas==0.16.2
passlib==1.6.2
psutil==2.2.1
pycparser==2.10
pymongo==2.7.2
python-dateutil==2.4.2
pytz==2015.4
requests==2.5.3
scipy==0.15.1
six==1.9.0
toolz==0.7.1
tornado==4.0.2
wsgiref==0.1.2
xlrd==0.9.3
